<div class="container-fluid d-flex flex-column align-items-center">
  <%= link_to 'Add a new category', new_group_path, class: "btn btn-primary" %>
  <% unless @groups.empty? %>
    <% @groups.each do |group| %>
      <div class="card mb-3" style="width: 95%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="#{group.icon}" class="img-fluid rounded-start" alt="category icon">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="w-100 d-flex justify-content-around">
                <h5 class="card-title"><%=group.name%></h5>
                <p class="card-text">$5</p>
              </div>
              <p class="card-text"><small class="text-muted"><%=group.created_at%></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="mt-4">You don't have any categories yet.</h2>
  <% end %>
</div>