<div class="container-fluid d-flex flex-column align-items-center justify-content-center background-screen">
  <h1 class="mb-5 text-white fs-1 background-logo"><i class="fa-solid fa-sack-dollar"></i> Budget Application</h1>
  <div class="d-flex w-50 justify-content-around mt-4">
    <%= link_to 'Login', new_user_session_path, class: "btn primary-color text-white shadow fs-5" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn green text-white shadow fs-5" %>
  </div>
</div>