<div class="container-fluid d-flex flex-column align-items-center justify-content-center background-screen">
  <h1 class="mb-5 fs-1 background-logo">Budget Application</h1>
  <div class="d-flex w-50 justify-content-around mt-4">
    <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-light shadow fs-5" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-light shadow fs-5 log-out" %>
  </div>
</div>