body {
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  color: rgb(87, 95, 104);
}

.primary-color {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(24,205,219,0.3841911764705882) 100%);
}

.green {
  background: rgb(90, 146, 49);
}

.white-text {
  color: rgb(235, 236, 236);
}

.background-screen {
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(24,205,219,0.3841911764705882) 100%);
}

.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(235, 235, 235);
  font-size: 22px;
}

.fa-house {
  color: rgb(243, 242, 242);
  font-size: 18px;
  margin-right: 8px;
}

.category-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}

.category-name {
  color: rgb(91, 98, 105);
  text-decoration: none;
}

.gray-text {
  color: rgb(75, 82, 90);
}

.btn-success {
  background: #5fb523;
  border-color: #5fb523;
}

.btn-primary {
  background: #3778c2;
  border-color: #3778c2;
}
