/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("href=https://fonts.googleapis.com/css?family=Trirong");

 body {
   font-family: Georgia, 'Times New Roman', Times, sans-serif;
   color: rgb(87, 95, 104);
 }
 
 .primary-color {
   background: rgb(66, 106, 151);
 }
 
 .green {
   background: rgb(90, 146, 49);
 }
 
 .white-text {
   color: rgb(235, 236, 236);
 }
 
 .background-screen {
   height: 100vh;
   background-image: url('assets/images/background.webp');
 }
 
 .background-logo {
   font-family: "Trirong", serif;
 }
 
 .menu-btn {
   background-color: transparent;
   border: none;
   outline: none;
   color: rgb(235, 235, 235);
   font-size: 22px;
 }
 
 .fa-house {
   color: rgb(243, 242, 242);
   font-size: 18px;
   margin-right: 8px;
 }
 
 .category-icon {
   width: 80px;
   height: 80px;
   object-fit: cover;
   border-radius: 3px;
 }
 
 .category-name {
   color: rgb(91, 98, 105);
   text-decoration: none;
 }
 
 .gray-text {
   color: rgb(75, 82, 90);
 }