/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Times New Roman", Times, serif;
  color: rgb(87, 95, 104);
}

.primary-color {
  background: rgb(56, 130, 214);
}

.white-text {
  color: rgb(230, 231, 231);
}

.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(243, 243, 243);
  font-size: 25px;
}

.category-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}

.category-name {
  color: rgb(142, 142, 143);
}
